{% extends "photos/base.html" %}

{% block content %}

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'user_page' username=user.username %}">Photos</a></li>
                <li><a href="{% url 'update_image' %}">Admin</a></li>
                <li><a href="{% url 'logout_user' %}">Log out</a></li>
                {% else %}
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login_user' %}">Log in</a></li>
                <li><a href="{% url 'signup' %}">Create account</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <title>PhotoSite | {{ user.username }}</title>
    {% else %}
    <title>PhotoSite</title>
    {% endif %}

  <div class="container">
      
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
          <p>{{ message }}</p>
        </div>
        {% endfor %}
      {% endif %}

      <div class="row">
      {% for images in recent_images %}
        <div class="col-lg-3 col-sm-4 col-xs-6">
          <a href="{% url 'image_page' username=images.user.username items_id=images.id %}">
            <img class="thumbnail img-responsive" src="{{ images.thumbnail.url|slice:":126" }}">
          </a>
        </div>
      {% endfor %}
      </div>
      
  </div>

{% endblock %}
