{% extends "base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<h4>{{ user.username }}'s Photo Page</h4>

<p><a href="{% url 'logout_user' %}">Log out</a></p>

<p><a href="{% url 'upload_image' %}">Add Image</a></p>

{% for items in user_images %}
<p><img style="max-height: 150px; max-width: 200px" src="{{ items.file_url }}" /></p>
{% endfor %}


{% else %}

<h4>Welcome to the Photo Page</h4>

<p><a href="{% url 'login_user' %}">Log in</a></p>

<p><a href="{% url 'signup' %}">Create account</a></p>

{% endif %}



{% endblock %}