{% extends "base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<h4>Welcome to the Photo Page</h4>

<p><a href="{% url 'login_user' %}">Log in</a></p>

<p><a href="{% url 'signup' %}">Create account</a></p>

{% for images in recent_images %}
<p><a href="{% url 'image_page' username=images.user.username items_id=images.id %}"><img style="max-height: 150px; max-width: 200px" src="{{ images.file_url }}" /></a></p>
{% endfor %}

{% endblock %}