{% extends "base.html" %}

{% block content %}

<h4>{{ username }}'s Photo Admin Page</h4>

<p><a href="{% url 'logout_user' %}">Log out</a></p>

<p><a href="{% url 'upload_image' %}">Add Image</a></p>

<p><a href="{% url 'user_page' username=user.username %}">Home</a></p>


{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>

{% endif %}


{% for image in user_images %}
<p><img style="max-height: 150px; max-width: 200px" src="{{ image.file_url }}" />
<a href="{% url 'remove_image' image_id=image.id image_url=image.file_url %}">Remove</a></p>
{% endfor %}

{% endblock %}