<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

 <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">PhotoSite</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'upload_image' %}">Add Image</a></li>
                <li><a href="{% url 'update_image' %}">Admin</a></li>
				<li><a href="{% url 'user_page' username=user.username %}">Photos</a></li>
                <li><a href="{% url 'logout_user' %}">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <title>PhotoSite</title>

<div class="row">
  <div class="col-md-12 text-center"><h3>Upload Images</h3></div>
</div>
<br>

<div class="container">

<div class="row">
  <div class="col-md-12 text-center">

    {% if messages %}
    	{% for message in messages %}
    	<div class="alert alert-info">
    	<p>{{ message }}</p>
    	</div>
    	{% endfor %}
    {% endif %}

    <form class="form-inline" enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
        <p>
            {{ form.title.errors }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.file.errors }}
        <label for="file"></lable>
            {{ form.file }}
        </div>
        <button type="submit" class="btn btn-default">Upload</button></p>
    </form>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>

</body>
</html>


