<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

 <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- css to overwrite some of the core bootstrap -->
  <link rel="stylesheet" href="https://s3.amazonaws.com/static-photosite/style-photo.css">

  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">PhotoSite</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

				{% if username == user.username %}
                <li><a href="{% url 'update_image' %}">Admin</a></li>
                <li><a href="{% url 'logout_user' %}">Log out</a></li>
				{% else %}
				<li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login_user' %}">Log in</a></li>
                <li><a href="{% url 'signup' %}">Create account</a></li>
				{% endif %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <title>PhotoSite | {{ username }}</title>

<div class="container">

<div class="row">
  <div class="col-md-12 text-center">

    {% if messages %}
    	{% for message in messages %}
    	<div class="alert alert-info">
    	<p>{{ message }}</p>
    	</div>
    	{% endfor %}
    {% endif %}


{% if username == user.username %}
    <form class="form-inline" enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
        <p>
            {{ form.title.errors }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.file.errors }}
        <label for="file"></lable>
            {{ form.file }}
        </div>
        <button type="submit" class="btn btn-default">Upload</button></p>
    </form>
  </div>
</div>
{% endif %}


    <div class="row">
    {% for images in user_images %}
      <div class="col-lg-3 col-sm-4 col-xs-6"><a href="{% url 'image_page' username=username items_id=images.id %}"><img class="thumbnail img-responsive" src="{{ images.file_url }}"></a></div>
    {% endfor %}
    </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>

</body>
</html>


